# deploy/secrets.yml
discord_bot_token: ""
finnhub_api_key:   ""
deepl_api_key:     ""
fred_api_key:      ""
changeip_username: ""
changeip_password: ""
v2ray_uuid:              ""
aria2_token:             ""
webdav_user:             ""
webdav_password_hash:    ""  # 使用 openssl passwd -apr1 生成


# 新增嵌套字典：统一管理 LLM 配置
ai_engines:
  api_key_mistral: ""
  api_key_gemini: ""
  api_key_nvidia: ""
  api_key_claude: ""
  api_key_openai: ""
  api_key_groq: ""
