vless://{{ xray_keys.uuid }}@{{ domain }}:443?security=reality&sni={{ xray_reality_sni }}&fp=chrome&pbk={{ xray_keys.public_key }}&sid={{ xray_keys.short_id }}&type=tcp&flow=xtls-rprx-vision#Oracle-Reality